DEFAULT_STOCK_PRISE= 100

SHARE_QUANTITY_DECIMAL_PLACES= 3

FINAL_AMOUNT_DECIMAL_PLACES=3

# MARKET_TIMEZONE=America/New_York
# MARKET_TIMEZONE=Asia/Kolkata
MARKET_TIMEZONE=Europe/London
#MARKET_TIMEZONE=Pacific/Auckland

MARKET_OPEN_TIME=09:30
MARKET_CLOSE_TIME=16:00

MARKET_OPEN_HOUR=9
MARKET_OPEN_MINUTES=30

MARKET_CLOSE_HOUR=16
MARKET_CLOSE_MINUTES=0